<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nuget.utility.advantasure.com" value="https://nuget.utility.advantasure.com/nuget/nuget" protocolVersion="2" />
	<add key="nuget.ddds.com" value="http://nuget.ddds.com/nuget" protocolVersion="2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>