<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="./Logs/${shortdate}" />
  <variable name="archiveDirectory" value="./Logs" />

  <targets>
    <target xsi:type="File" name="ToFile" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" archiveFileName="${archiveDirectory}/archives/log.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="14" />
    <target xsi:type="Database" name="AuditLog" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionStringName>emri</connectionStringName>
      <commandText>
        INSERT INTO [AuditLog]([Verb],[RequestHeader],[LogJson],[RequestDateTimeUTC],[ResponseHeader],[ResponseDateTimeUTC],[ErrorMessage],[StatusCode],[UserName],[ApiEndpoint])
        VALUES (@verb,@requestheader,@logjson,getutcdate(),@responseheader,getutcdate(),@errormsg, @statuscode,@username,@apiendpoint)
      </commandText>
      <parameter name="@verb" layout="${event-properties:verb}" size="20" />
      <parameter name="@requestheader" layout="${event-properties:reqhdr}" size="512" />
      <parameter name="@logjson" layout="${event-properties:jsonContent}" />
      <parameter name="@responseheader" layout="${event-properties:reshdr}" size="512" />
      <parameter name="@errormsg" layout="${event-properties:errormsg}" size="2000" />
      <parameter name="@statuscode" layout="${event-properties:statuscode}" size="20" />
      <parameter name="@username" layout="${windows-identity}" size="20" />
      <parameter name="@apiendpoint" layout="${event-properties:apiendpoint}" size="100" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ToFile" />
    <logger name="AuditLog" minlevel="Trace" writeTo="AuditLog" />
  </rules>
</nlog>